<div class="panel panel-default">
    <div class="panel-heading" style="background-color:#ededed">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse0">Global Raspberry Pi Settings</a>
        </h4>
    </div>
    <div id="collapse0" class="panel-collapse collapse <% if (collapse == 0) {%> in <%}%>">
        <div class="panel-body">

            <form name="form1" method="POST" action="/change_global_settings">
                <table class="greyGridTable">

                    <tr>
                        <td width="180px">OSC port number:</td>
                        <td>
                            <input type="text" name="oscPort" value=<%= rpis[0].osc_port %>>
                        </td>
                    </tr>

                    <tr>
                        <td>Temperature interval:</td>
                        <td>
                            <input type="text" name="temperatureInterval" value=<%= rpis[0].temperature_interval %>>
                        </td>
                    </tr>

                    <tr>
                        <td>Temperature broadcast:</td>
                        <td>
                            <input type="checkbox" name="temperatureMQTT" value="temperatureMQTT" <% if (rpis[0].temperature_mqtt) {%> checked <%}%>> MQTT</br>
                            <input type="checkbox" name="temperatureOSC" value="temperatureOSC" <% if (rpis[0].temperature_osc) {%> checked <%}%>> OSC</br>
                        </td>
                    </tr>

                    <tr>
                        <td>Pressure interval:</td>
                        <td>
                            <input type="text" name="pressureInterval" value=<%= rpis[0].pressure_interval %>>
                        </td>
                    </tr>

                    <tr>
                        <td>Pressure broadcast:</td>
                        <td>
                            <input type="checkbox" name="pressureMQTT" value="pressureMQTT" <% if (rpis[0].pressure_mqtt) {%> checked <%}%>> MQTT</br>
                            <input type="checkbox" name="pressureOSC" value="pressureOSC" <% if (rpis[0].pressure_osc) {%> checked <%}%>> OSC</br>
                        </td>
                    </tr>

                    <tr>
                        <td>Light level interval:</td>
                        <td>
                            <input type="text" name="lightInterval" value=<%= rpis[0].light_interval %>>
                        </td>
                    </tr>

                    <tr>
                        <td>Light level broadcast:</td>
                        <td>
                            <input type="checkbox" name="lightMQTT" value="lightMQTT" <% if (rpis[0].light_mqtt) {%> checked <%}%>> MQTT</br>
                            <input type="checkbox" name="lightOSC" value="lightOSC" <% if (rpis[0].light_osc) {%> checked <%}%>> OSC</br>
                        </td>
                    </tr>

                    <tr>
                        <td>Pedestrian count interval:</td>
                        <td>
                            <input type="text" name="pedestriansInterval" value=<%= rpis[0].pedestrians_interval %>>
                        </td>
                    </tr>

                    <tr>
                        <td>Pedestrian count broadcast:</td>
                        <td>
                            <input type="checkbox" name="pedestriansMQTT" value="pedestriansMQTT" <% if (rpis[0].pedestrians_mqtt) {%> checked <%}%>> MQTT</br>
                            <input type="checkbox" name="pedestriansOSC" value="pedestriansOSC" <% if (rpis[0].pedestrians_osc) {%> checked <%}%>> OSC</br>
                        </td>
                    </tr>

                    <tr>
                        <td>Decibel level:</td>
                        <td>
                            <%= rpis[0].decibel_value %>
                        </td>
                    </tr>

                    <tr>
                        <td>Decibel level broadcast:</td>
                        <td>
                            <input type="checkbox" name="decibelMQTT" value="decibelMQTT" <% if (rpis[0].decibel_mqtt) {%> checked <%}%>> MQTT</br>
                            <input type="checkbox" name="decibelOSC" value="decibelOSC" <% if (rpis[0].decibel_osc) {%> checked <%}%>> OSC</br>
                        </td>
                    </tr>

                    <tr>
                        <td>Submit:</td>
                        <td>
                            <input type="submit" value="Save">
                        </td>
                    </tr>

                </table>
            </form>

        </div>
    </div>





</div>
