<% rpis.forEach((rpi) => { %>

    <div class="panel panel-default">
        <div class="panel-heading" style="background-color:#<% if (rpi.status) {%>ededed <%} else {%>ff6a6a<% } %>">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= rpi.id %>">Raspberry Pi #<%= rpi.id %> is <% if (rpi.status) {%> online <%} else {%> offline<% } %></a>
            </h4>
        </div>
        <div id="collapse<%= rpi.id %>" class="panel-collapse collapse <% if (collapse == rpi.id) {%> in <%}%>">
            <div class="panel-body">

                <% if (!rpi.status) {%>
                    <p>Last seen: <%= new Date(rpi.last_hearbeat * 1000).toISOString().replace(/T/, ' ').replace(/\..+/, '') %></p>
                    <p>Settings cannot be changed for offline Raspberry Pis.</p>
                    <p>If it does not come online in the next 10 minutes, please contact the system administrator.</p>
                    <p>Sorry for the inconvenience!</p>
                    <%} else {%>

                        <form name="form1" method="POST" action="/change_settings">
                            <input type="hidden" name="id" value=<%= rpi.id %>>
                            <table class="greyGridTable">

                                <tr>
                                    <td width="20%">Last heartbeat message received:</td>
                                    <td>
                                        <%= new Date(rpi.last_hearbeat * 1000).toISOString().replace(/T/, ' ').replace(/\..+/, '') %>
                                    </td>
                                </tr>

                                <tr>
                                    <td>OSC port number:</td>
                                    <td>
                                        <input type="text" name="oscPort" value=<%= rpi.osc_port %>>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Temperature value:</td>
                                    <td>
                                        <%= rpi.temperature_value %>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Temperature interval:</td>
                                    <td>
                                        <input type="text" name="temperatureInterval" value=<%= rpi.temperature_interval %>>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Temperature broadcast:</td>
                                    <td>
                                        <input type="checkbox" name="temperatureMQTT" value="temperatureMQTT" <% if (rpi.temperature_mqtt) {%> checked <%}%>> MQTT</br>
                                        <input type="checkbox" name="temperatureOSC" value="temperatureOSC" <% if (rpi.temperature_osc) {%> checked <%}%>> OSC</br>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Pressure value:</td>
                                    <td>
                                        <%= rpi.pressure_value %>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Pressure interval:</td>
                                    <td>
                                        <input type="text" name="pressureInterval" value=<%= rpi.pressure_interval %>>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Pressure broadcast:</td>
                                    <td>
                                        <input type="checkbox" name="pressureMQTT" value="pressureMQTT" <% if (rpi.pressure_mqtt) {%> checked <%}%>> MQTT</br>
                                        <input type="checkbox" name="pressureOSC" value="pressureOSC" <% if (rpi.pressure_osc) {%> checked <%}%>> OSC</br>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Light value:</td>
                                    <td>
                                        <%= rpi.light_value %>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Light level interval:</td>
                                    <td>
                                        <input type="text" name="lightInterval" value=<%= rpi.light_interval %>>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Light level broadcast:</td>
                                    <td>
                                        <input type="checkbox" name="lightMQTT" value="lightMQTT" <% if (rpi.light_mqtt) {%> checked <%}%>> MQTT</br>
                                        <input type="checkbox" name="lightOSC" value="lightOSC" <% if (rpi.light_osc) {%> checked <%}%>> OSC</br>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Pedestrian count:</td>
                                    <td>
                                        <%= rpi.pedestrians_value %>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Pedestrian count interval:</td>
                                    <td>
                                        <input type="text" name="pedestriansInterval" value=<%= rpi.pedestrians_interval %>>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Pedestrian count broadcast:</td>
                                    <td>
                                        <input type="checkbox" name="pedestriansMQTT" value="pedestriansMQTT" <% if (rpi.pedestrians_mqtt) {%> checked <%}%>> MQTT</br>
                                        <input type="checkbox" name="pedestriansOSC" value="pedestriansOSC" <% if (rpi.pedestrians_osc) {%> checked <%}%>> OSC</br>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="25%">Submit:</td>
                                    <td>
                                        <input type="submit" value="Save">
                                    </td>
                                </tr>

                            </table>
                        </form>
                        <% } %>

                    </div>
                </div>
            </div>

            <% }) %>
