<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Global')" id="GlobalTab">Global</button>
  <% rpis.forEach((rpi) => { %>
    <button class="tablinks <% if (!rpi.status) {%> offline <%}%>" onclick="openTab(event, 'RPi<%= rpi.id %>')" id="RPi<%= rpi.id %>Tab">RPi #<%= rpi.id %></button>
  <% }) %>
</div>

<div id="Global" class="tabcontent">
  <h3>Raspberry Pi status:</h3>
  <p>
    <% rpis.forEach((rpi) => { %>
      <table class="greyGridTable">
        <tr>
          <td width="250px">Raspberry Pi #<%= rpi.id %>:</td>
          <td id="rpistatus<%= rpi.id %>" <% if (!rpi.status) {%> class="offline" <%}%>>
            <% if (rpi.status) {%> Online. <%} else {%> Offline. Last seen: <%= new Date(rpi.last_hearbeat * 1000).toISOString().replace(/T/, ' ').replace(/\..+/, '') %> <% } %>
          </td>
        </tr>
      </table>
    <% }) %>
  </p>

  <h3>Global settings:</h3>
  <p>
    <form name="form1" method="POST" action="/">
      <input type="hidden" name="id" value=0>
      <table class="greyGridTable">

        <tr>
          <td width="250px" class="sensor_head">OSC port number:</td>
          <td>
            <input id="globalOscPort" type="text" name="oscPort" value=<%= rpis[0].osc_port %>>
          </td>
        </tr>

        <tr>
          <td class="sensor_head">Temperature broadcasting options:</td>
          <td>
            <input id="globalTemperatureMQTT" type="checkbox" name="temperatureMQTT" value="temperatureMQTT" <% if (rpis[0].temperature_mqtt) {%> checked <%}%>> MQTT
            <input id="globalTemperatureOSC" type="checkbox" name="temperatureOSC" value="temperatureOSC" <% if (rpis[0].temperature_osc) {%> checked <%}%>> OSC
          </td>
        </tr>

        <tr>
          <td>Broacasting interval:</td>
          <td>
            <input id="globalTemperatureInterval" type="text" name="temperatureInterval" value=<%= rpis[0].temperature_interval %>>
            <input id="globalTemperatureOnInterval" type="checkbox" name="temperatureOnInterval" value="temperatureOnInterval" <% if (rpis[0].temperature_on_interval) {%> checked <%}%>> enabled
          </td>
        </tr>

        <tr>
          <td>Broadcasting on change:</td>
          <td>
            <input id="globalTemperatureChangeThreshold" type="text" name="temperatureChangeThreshold" value=<%= rpis[0].temperature_change_threshold %>>
            <input id="globalTemperatureChange" type="checkbox" name="temperatureChange" value="temperatureChange" <% if (rpis[0].temperature_change) {%> checked <%}%>> enabled
          </td>
        </tr>

        <tr>
          <td class="sensor_head">Pressure broadcasting options:</td>
          <td>
            <input id="globalPressureMQTT" type="checkbox" name="pressureMQTT" value="pressureMQTT" <% if (rpis[0].pressure_mqtt) {%> checked <%}%>> MQTT
            <input id="globalPressureOSC" type="checkbox" name="pressureOSC" value="pressureOSC" <% if (rpis[0].pressure_osc) {%> checked <%}%>> OSC
          </td>
        </tr>

        <tr>
          <td>Broacasting interval:</td>
          <td>
            <input id="globalPressureInterval" type="text" name="pressureInterval" value=<%= rpis[0].pressure_interval %>>
            <input id="globalPressureOnInterval" type="checkbox" name="pressureOnInterval" value="pressureOnInterval" <% if (rpis[0].pressure_on_interval) {%> checked <%}%>> enabled
          </td>
        </tr>

        <tr>
          <td>Broadcasting on change:</td>
          <td>
            <input id="globalPressureChangeThreshold" type="text" name="pressureChangeThreshold" value=<%= rpis[0].pressure_change_threshold %>>
            <input id="globalPressureChange" type="checkbox" name="pressureChange" value="pressureChange" <% if (rpis[0].pressure_change) {%> checked <%}%>> enabled
          </td>
        </tr>

        <tr>
          <td class="sensor_head">Light level broadcasting options:</td>
          <td>
            <input id="globalLightMQTT" type="checkbox" name="lightMQTT" value="lightMQTT" <% if (rpis[0].light_mqtt) {%> checked <%}%>> MQTT
            <input id="globalLightOSC" type="checkbox" name="lightOSC" value="lightOSC" <% if (rpis[0].light_osc) {%> checked <%}%>> OSC
          </td>
        </tr>

        <tr>
          <td>Broacasting interval:</td>
          <td>
            <input id="globalLightInterval" type="text" name="lightInterval" value=<%= rpis[0].light_interval %>>
            <input id="globalLightOnInterval" type="checkbox" name="lightOnInterval" value="lightOnInterval" <% if (rpis[0].light_on_interval) {%> checked <%}%>> enabled
          </td>
        </tr>

        <tr>
          <td>Broadcasting on change:</td>
          <td>
            <input id="globalLightChangeThreshold" type="text" name="lightChangeThreshold" value=<%= rpis[0].light_change_threshold %>>
            <input id="globalLightChange" type="checkbox" name="lightChange" value="lightChange" <% if (rpis[0].light_change) {%> checked <%}%>> enabled
          </td>
        </tr>

        <tr>
          <td class="sensor_head">Pedestrian broacasting options:</td>
          <td>
            <input id="globalPedestriansMQTT" type="checkbox" name="pedestriansMQTT" value="pedestriansMQTT" <% if (rpis[0].pedestrians_mqtt) {%> checked <%}%>> MQTT
            <input id="globalPedestriansOSC" type="checkbox" name="pedestriansOSC" value="pedestriansOSC" <% if (rpis[0].pedestrians_osc) {%> checked <%}%>> OSC
          </td>
        </tr>

        <tr>
          <td>Broacasting interval:</td>
          <td>
            <input id="globalPedestriansInterval" type="text" name="pedestriansInterval" value=<%= rpis[0].pedestrians_interval %>>
            <input id="globalPedestriansOnInterval" type="checkbox" name="pedestriansOnInterval" value="pedestriansOnInterval" <% if (rpis[0].pedestrians_on_interval) {%> checked <%}%>> enabled
          </td>
        </tr>

        <tr>
          <td>Broadcasting on change:</td>
          <td>
            <input id="globalPedestriansChangeThreshold" type="text" name="pedestriansChangeThreshold" value=<%= rpis[0].pedestrians_change_threshold %>>
            <input id="globalPedestriansChange" type="checkbox" name="pedestriansChange" value="pedestriansChange" <% if (rpis[0].pedestrians_change) {%> checked <%}%>> enabled
          </td>
        </tr>

        <tr>
          <td></td>
          <td>
            <input type="submit" value="Save">
          </td>
        </tr>

      </table>
    </form>
  </p>

</div>

<% rpis.forEach((rpi) => { %>
  <div id="RPi<%= rpi.id %>" class="tabcontent">
    <h3 id="RPiHeader<%= rpi.id %>">Raspberry Pi #<%= rpi.id %> is currently <% if (rpi.status) {%> online. <%} else {%> offline. <% } %></h3>

    <div id="rpioffline<%= rpi.id %>" class="text" <% if (rpi.status) {%> style="display:none;" <%}%>>
      <p>Last seen: <%= new Date(rpi.last_hearbeat * 1000).toISOString().replace(/T/, ' ').replace(/\..+/, '') %></p>
      <p>Settings cannot be changed for offline Raspberry Pis.</br>
      If it does not come online in the next 10 minutes, please contact the system administrator.</br>
      Sorry for the inconvenience!</p>
    </div>

    <div id="rpionline<%= rpi.id %>" <% if (!rpi.status) {%> style="display:none;" <%}%>>
        <p>
          <table class="greyGridTable">

            <tr>
              <td width="250px">Last heartbeat message received:</td>
              <td id="h<%= rpi.id %>">
                <%= new Date(rpi.last_hearbeat * 1000).toISOString().replace(/T/, ' ').replace(/\..+/, '') %>
              </td>
            </tr>

            <tr>
              <td>Temperature:</td>
              <td>
                <div id="t<%= rpi.id %>"><%= rpi.temperature_value %> &#x2103;</div>
              </td>
            </tr>

            <tr>
              <td>Pressure:</td>
              <td>
                <div id="p<%= rpi.id %>"><%= rpi.pressure_value %> hPa</div>
              </td>
            </tr>

            <tr>
              <td>Light:</td>
              <td>
                <div id="l<%= rpi.id %>"><%= rpi.light_value %> lux</div>
              </td>
            </tr>

            <tr>
              <td>Pedestrian count:</td>
              <td>
                <div id="pe<%= rpi.id %>"><%= rpi.pedestrians_value %></div>
              </td>
            </tr>

          </table>
        </p>

        <p>
          <form name="form1" method="POST" action="/">
            <input type="hidden" name="id" value=<%= rpi.id %>>
            <table class="greyGridTable">

              <tr>
                <td width="250px" class="sensor_head">OSC port number:</td>
                <td>
                  <input id="oscPort<%= rpi.id %>" type="text" name="oscPort" value=<%= rpi.osc_port %>>
                </td>
              </tr>

              <tr>
                <td class="sensor_head">Temperature broadcasting options:</td>
                <td>
                  <input id="temperatureMQTT<%= rpi.id %>" type="checkbox" name="temperatureMQTT" value="temperatureMQTT" <% if (rpi.temperature_mqtt) {%> checked <%}%>> MQTT
                  <input id="temperatureOSC<%= rpi.id %>" type="checkbox" name="temperatureOSC" value="temperatureOSC" <% if (rpi.temperature_osc) {%> checked <%}%>> OSC
                </td>
              </tr>

              <tr>
                <td>Broacasting interval:</td>
                <td>
                  <input id="temperatureInterval<%= rpi.id %>" type="text" name="temperatureInterval" value=<%= rpi.temperature_interval %>>
                  <input id="temperatureOnInterval<%= rpi.id %>" type="checkbox" name="temperatureOnInterval" value="temperatureOnInterval" <% if (rpi.temperature_on_interval) {%> checked <%}%>> enabled
                </td>
              </tr>

              <tr>
                <td>Broadcasting on change:</td>
                <td>
                  <input id="temperatureChangeThreshold<%= rpi.id %>" type="text" name="temperatureChangeThreshold" value=<%= rpi.temperature_change_threshold %>>
                  <input id="temperatureChange<%= rpi.id %>" type="checkbox" name="temperatureChange" value="temperatureChange" <% if (rpi.temperature_change) {%> checked <%}%>> enabled
                </td>
              </tr>

              <tr>
                <td class="sensor_head">Pressure broadcasting options:</td>
                <td>
                  <input id="pressureMQTT<%= rpi.id %>" type="checkbox" name="pressureMQTT" value="pressureMQTT" <% if (rpi.pressure_mqtt) {%> checked <%}%>> MQTT
                  <input id="pressureOSC<%= rpi.id %>" type="checkbox" name="pressureOSC" value="pressureOSC" <% if (rpi.pressure_osc) {%> checked <%}%>> OSC
                </td>
              </tr>

              <tr>
                <td>Broacasting interval:</td>
                <td>
                  <input id="pressureInterval<%= rpi.id %>" type="text" name="pressureInterval" value=<%= rpi.pressure_interval %>>
                  <input id="pressureOnInterval<%= rpi.id %>" type="checkbox" name="pressureOnInterval" value="pressureOnInterval" <% if (rpi.pressure_on_interval) {%> checked <%}%>> enabled
                </td>
              </tr>

              <tr>
                <td>Broadcasting on change:</td>
                <td>
                  <input id="pressureChangeThreshold<%= rpi.id %>" type="text" name="pressureChangeThreshold" value=<%= rpi.pressure_change_threshold %>>
                  <input id="pressureChange<%= rpi.id %>" type="checkbox" name="pressureChange" value="pressureChange" <% if (rpi.pressure_change) {%> checked <%}%>> enabled
                </td>
              </tr>

              <tr>
                <td class="sensor_head">Light level broadcasting options:</td>
                <td>
                  <input id="lightMQTT<%= rpi.id %>" type="checkbox" name="lightMQTT" value="lightMQTT" <% if (rpi.light_mqtt) {%> checked <%}%>> MQTT
                  <input id="lightOSC<%= rpi.id %>" type="checkbox" name="lightOSC" value="lightOSC" <% if (rpi.light_osc) {%> checked <%}%>> OSC
                </td>
              </tr>

              <tr>
                <td>Broacasting interval:</td>
                <td>
                  <input id="lightInterval<%= rpi.id %>" type="text" name="lightInterval" value=<%= rpi.light_interval %>>
                  <input id="lightOnInterval<%= rpi.id %>" type="checkbox" name="lightOnInterval" value="lightOnInterval" <% if (rpi.light_on_interval) {%> checked <%}%>> enabled
                </td>
              </tr>

              <tr>
                <td>Broadcasting on change:</td>
                <td>
                  <input id="lightChangeThreshold<%= rpi.id %>" type="text" name="lightChangeThreshold" value=<%= rpi.light_change_threshold %>>
                  <input id="lightChange<%= rpi.id %>" type="checkbox" name="lightChange" value="lightChange" <% if (rpi.light_change) {%> checked <%}%>> enabled
                </td>
              </tr>

              <tr>
                <td class="sensor_head">Pedestrian broacasting options:</td>
                <td>
                  <input id="pedestriansMQTT<%= rpi.id %>" type="checkbox" name="pedestriansMQTT" value="pedestriansMQTT" <% if (rpi.pedestrians_mqtt) {%> checked <%}%>> MQTT
                  <input id="pedestriansOSC<%= rpi.id %>" type="checkbox" name="pedestriansOSC" value="pedestriansOSC" <% if (rpi.pedestrians_osc) {%> checked <%}%>> OSC
                </td>
              </tr>

              <tr>
                <td>Broacasting interval:</td>
                <td>
                  <input id="pedestriansInterval<%= rpi.id %>" type="text" name="pedestriansInterval" value=<%= rpi.pedestrians_interval %>>
                  <input id="pedestriansOnInterval<%= rpi.id %>" type="checkbox" name="pedestriansOnInterval" value="pedestriansOnInterval" <% if (rpi.pedestrians_on_interval) {%> checked <%}%>> enabled
                </td>
              </tr>

              <tr>
                <td>Broadcasting on change:</td>
                <td>
                  <input id="pedestriansChangeThreshold<%= rpi.id %>" type="text" name="pedestriansChangeThreshold" value=<%= rpi.pedestrians_change_threshold %>>
                  <input id="pedestriansChange<%= rpi.id %>" type="checkbox" name="pedestriansChange" value="pedestriansChange" <% if (rpi.pedestrians_change) {%> checked <%}%>> enabled
                </td>
              </tr>

              <tr>
                <td></td>
                <td>
                  <input type="submit" value="Save">
                </td>
              </tr>

            </table>
          </form>
        </p>
    </div>

  </div>
<% }) %>

<script>
  function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";

    localStorage.activeTab = tabName + "Tab";

  }

  if (localStorage.activeTab) {
    document.getElementById(localStorage.activeTab).click();
  } else {
    localStorage.activeTab = "GlobalTab"
    document.getElementById(localStorage.activeTab).click();
  }
</script>

<script>
  function populate(rpis) {

    // RPi status
    rpis.forEach((rpi) => {
      var id = rpi.id;
      if (rpi.status) {
        $("#RPi" + id).removeClass("offline");
        $("#rpistatus" + id).removeClass("offline");
        $("#rpistatus" + id).html("Online.");
      } else {
        $("#RPi" + id).addClass("offline");
        $("#rpistatus" + id).addClass("offline");
        $("#rpistatus" + id).html("Offline. Last seen: " + new Date(rpi.last_hearbeat * 1000).toISOString().replace(/T/, ' ').replace(/\..+/, ''));
      }
    });

    //
    rpis.forEach((rpi) => {
      var id = rpi.id;

      if (rpi.status) {
        $("#RPiHeader" + id).html("Raspberry Pi #" + id + " is currently online.");
        // $("#rpionline" + id).removeAttr('hidden');
        // $("#rpioffline" + id).addAttr('hidden');
        $("#rpionline" + id).css('display','block');
        $("#rpioffline" + id).css('display','none');
      } else {
        $("#RPiHeader" + id).html("Raspberry Pi #" + id + " is currently offline.");
        // $("#rpioffline" + id).removeAttr('hidden');
        // $("#rpionline" + id).addAttr('hidden');
        $("#rpioffline" + id).css('display','block');
        $("#rpionline" + id).css('display','none');
      }

      if (rpi.status) {

        // RPi values
        $("#h" + id).html(new Date(rpi.last_hearbeat * 1000).toISOString().replace(/T/, ' ').replace(/\..+/, ''));
        $("#t" + id).html(rpi.temperature_value + " &#x2103;");
        $("#p" + id).html(rpi.pressure_value + " hPa");
        $("#l" + id).html(rpi.light_value + " lux");
        $("#pe" + id).html(rpi.pedestrians_value);
      }
    });

  }

  function reloadTimer() {
    setInterval(function(){
      $.post("/", {
        id: -1,
        openTab: localStorage.activeTab
      },
      function(data) {
        populate(data);
      });
  }, 5000);
  }
</script>
