<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Global')" id="GlobalTab">Global</button>
  <% rpis.forEach((rpi) => { %>
    <button class="tablinks <% if (!rpi.status) {%> offline <%}%>" onclick="openTab(event, 'RPi<%= rpi.id %>')" id="RPi<%= rpi.id %>Tab">RPi #<%= rpi.id %></button>
  <% }) %>
</div>

<div id="Global" class="tabcontent">
  <h3>Raspberry Pi status:</h3>
  <p>
    <% rpis.forEach((rpi) => { %>
      <table class="greyGridTable">
        <tr>
          <td width="250px">Raspberry Pi #<%= rpi.id %>:</td>
          <td>
            <% if (rpi.status) {%> online. <%} else {%> offline. Last seen: <%= new Date(rpi.last_hearbeat * 1000).toISOString().replace(/T/, ' ').replace(/\..+/, '') %> <% } %>
          </td>
        </tr>
      </table>
    <% }) %>
  </p>

  <h3>Global settings:</h3>
  <p>
    <form name="form1" method="POST" action="/">
      <input type="hidden" name="id" value=0>
      <table class="greyGridTable">

        <tr>
          <td width="250px" class="sensor_head">OSC port number:</td>
          <td>
            <input type="text" name="oscPort" value=<%= rpis[0].osc_port %>>
          </td>
        </tr>

        <tr>
          <td class="sensor_head">Temperature broadcasting options:</td>
          <td>
            <input type="checkbox" name="temperatureMQTT" value="temperatureMQTT" <% if (rpis[0].temperature_mqtt) {%> checked <%}%>> MQTT
            <input type="checkbox" name="temperatureOSC" value="temperatureOSC" <% if (rpis[0].temperature_osc) {%> checked <%}%>> OSC
          </td>
        </tr>

        <tr>
          <td>Broacasting interval:</td>
          <td>
            <input type="text" name="temperatureInterval" value=<%= rpis[0].temperature_interval %>>
            <input type="checkbox" name="temperatureOnInterval" value="temperatureOnInterval" <% if (rpis[0].temperature_on_interval) {%> checked <%}%>> enabled
          </td>
        </tr>

        <tr>
          <td>Broadcasting on change:</td>
          <td>
            <input type="text" name="temperatureChangeThreshold" value=<%= rpis[0].temperature_change_threshold %>>
            <input type="checkbox" name="temperatureChange" value="temperatureChange" <% if (rpis[0].temperature_change) {%> checked <%}%>> enabled
          </td>
        </tr>

        <tr>
          <td class="sensor_head">Pressure broadcasting options:</td>
          <td>
            <input type="checkbox" name="pressureMQTT" value="pressureMQTT" <% if (rpis[0].pressure_mqtt) {%> checked <%}%>> MQTT
            <input type="checkbox" name="pressureOSC" value="pressureOSC" <% if (rpis[0].pressure_osc) {%> checked <%}%>> OSC
          </td>
        </tr>

        <tr>
          <td>Broacasting interval:</td>
          <td>
            <input type="text" name="pressureInterval" value=<%= rpis[0].pressure_interval %>>
            <input type="checkbox" name="pressureOnInterval" value="pressureOnInterval" <% if (rpis[0].pressure_on_interval) {%> checked <%}%>> enabled
          </td>
        </tr>

        <tr>
          <td>Broadcasting on change:</td>
          <td>
            <input type="text" name="pressureChangeThreshold" value=<%= rpis[0].pressure_change_threshold %>>
            <input type="checkbox" name="pressureChange" value="pressureChange" <% if (rpis[0].pressure_change) {%> checked <%}%>> enabled
          </td>
        </tr>

        <tr>
          <td class="sensor_head">Light level broadcasting options:</td>
          <td>
            <input type="checkbox" name="lightMQTT" value="lightMQTT" <% if (rpis[0].light_mqtt) {%> checked <%}%>> MQTT
            <input type="checkbox" name="lightOSC" value="lightOSC" <% if (rpis[0].light_osc) {%> checked <%}%>> OSC
          </td>
        </tr>

        <tr>
          <td>Broacasting interval:</td>
          <td>
            <input type="text" name="lightInterval" value=<%= rpis[0].light_interval %>>
            <input type="checkbox" name="lightOnInterval" value="lightOnInterval" <% if (rpis[0].light_on_interval) {%> checked <%}%>> enabled
          </td>
        </tr>

        <tr>
          <td>Broadcasting on change:</td>
          <td>
            <input type="text" name="lightChangeThreshold" value=<%= rpis[0].light_change_threshold %>>
            <input type="checkbox" name="lightChange" value="lightChange" <% if (rpis[0].light_change) {%> checked <%}%>> enabled
          </td>
        </tr>

        <tr>
          <td class="sensor_head">Pedestrian broacasting options:</td>
          <td>
            <input type="checkbox" name="pedestriansMQTT" value="pedestriansMQTT" <% if (rpis[0].pedestrians_mqtt) {%> checked <%}%>> MQTT
            <input type="checkbox" name="pedestriansOSC" value="pedestriansOSC" <% if (rpis[0].pedestrians_osc) {%> checked <%}%>> OSC
          </td>
        </tr>

        <tr>
          <td>Broacasting interval:</td>
          <td>
            <input type="text" name="pedestriansInterval" value=<%= rpis[0].pedestrians_interval %>>
            <input type="checkbox" name="pedestriansOnInterval" value="pedestriansOnInterval" <% if (rpis[0].pedestrians_on_interval) {%> checked <%}%>> enabled
          </td>
        </tr>

        <tr>
          <td>Broadcasting on change:</td>
          <td>
            <input type="text" name="pedestriansChangeThreshold" value=<%= rpis[0].pedestrians_change_threshold %>>
            <input type="checkbox" name="pedestriansChange" value="pedestriansChange" <% if (rpis[0].pedestrians_change) {%> checked <%}%>> enabled
          </td>
        </tr>

        <tr>
          <td></td>
          <td>
            <input type="submit" value="Save">
          </td>
        </tr>

      </table>
    </form>
  </p>

</div>

<% rpis.forEach((rpi) => { %>
  <div id="RPi<%= rpi.id %>" class="tabcontent">
    <h3>Raspberry Pi #<%= rpi.id %> is currently <% if (rpi.status) {%> online. <%} else {%> offline. <% } %></h3>

    <% if (!rpi.status) {%>

      <div class="text">
        <p>Last seen: <%= new Date(rpi.last_hearbeat * 1000).toISOString().replace(/T/, ' ').replace(/\..+/, '') %></p>
        <p>Settings cannot be changed for offline Raspberry Pis.</br>
        If it does not come online in the next 10 minutes, please contact the system administrator.</br>
        Sorry for the inconvenience!</p>
      </div>

    <% } else { %>

      <p>
        <table class="greyGridTable">

          <tr>
            <td width="250px">Last heartbeat message received:</td>
            <td>
              <%= new Date(rpi.last_hearbeat * 1000).toISOString().replace(/T/, ' ').replace(/\..+/, '') %>
            </td>
          </tr>

          <tr>
            <td>Temperature:</td>
            <td>
              <div id="t<%= rpi.id %>"><%= rpi.temperature_value %> &#x2103;</div>
            </td>
          </tr>

          <tr>
            <td>Pressure:</td>
            <td>
              <div id="p<%= rpi.id %>"><%= rpi.pressure_value %> hPa</div>
            </td>
          </tr>

          <tr>
            <td>Light:</td>
            <td>
              <div id="l<%= rpi.id %>"><%= rpi.light_value %> lux</div>
            </td>
          </tr>

          <tr>
            <td>Pedestrian count:</td>
            <td>
              <div id="pe<%= rpi.id %>"><%= rpi.pedestrians_value %></div>
            </td>
          </tr>

        </table>
      </p>

      <p>
        <form name="form1" method="POST" action="/">
          <input type="hidden" name="id" value=<%= rpi.id %>>
          <table class="greyGridTable">

            <tr>
              <td width="250px" class="sensor_head">OSC port number:</td>
              <td>
                <input type="text" name="oscPort" value=<%= rpi.osc_port %>>
              </td>
            </tr>

            <tr>
              <td class="sensor_head">Temperature broadcasting options:</td>
              <td>
                <input type="checkbox" name="temperatureMQTT" value="temperatureMQTT" <% if (rpi.temperature_mqtt) {%> checked <%}%>> MQTT
                <input type="checkbox" name="temperatureOSC" value="temperatureOSC" <% if (rpi.temperature_osc) {%> checked <%}%>> OSC
              </td>
            </tr>

            <tr>
              <td>Broacasting interval:</td>
              <td>
                <input type="text" name="temperatureInterval" value=<%= rpi.temperature_interval %>>
                <input type="checkbox" name="temperatureOnInterval" value="temperatureOnInterval" <% if (rpi.temperature_on_interval) {%> checked <%}%>> enabled
              </td>
            </tr>

            <tr>
              <td>Broadcasting on change:</td>
              <td>
                <input type="text" name="temperatureChangeThreshold" value=<%= rpi.temperature_change_threshold %>>
                <input type="checkbox" name="temperatureChange" value="temperatureChange" <% if (rpi.temperature_change) {%> checked <%}%>> enabled
              </td>
            </tr>

            <tr>
              <td class="sensor_head">Pressure broadcasting options:</td>
              <td>
                <input type="checkbox" name="pressureMQTT" value="pressureMQTT" <% if (rpi.pressure_mqtt) {%> checked <%}%>> MQTT
                <input type="checkbox" name="pressureOSC" value="pressureOSC" <% if (rpi.pressure_osc) {%> checked <%}%>> OSC
              </td>
            </tr>

            <tr>
              <td>Broacasting interval:</td>
              <td>
                <input type="text" name="pressureInterval" value=<%= rpi.pressure_interval %>>
                <input type="checkbox" name="pressureOnInterval" value="pressureOnInterval" <% if (rpi.pressure_on_interval) {%> checked <%}%>> enabled
              </td>
            </tr>

            <tr>
              <td>Broadcasting on change:</td>
              <td>
                <input type="text" name="pressureChangeThreshold" value=<%= rpi.pressure_change_threshold %>>
                <input type="checkbox" name="pressureChange" value="pressureChange" <% if (rpi.pressure_change) {%> checked <%}%>> enabled
              </td>
            </tr>

            <tr>
              <td class="sensor_head">Light level broadcasting options:</td>
              <td>
                <input type="checkbox" name="lightMQTT" value="lightMQTT" <% if (rpi.light_mqtt) {%> checked <%}%>> MQTT
                <input type="checkbox" name="lightOSC" value="lightOSC" <% if (rpi.light_osc) {%> checked <%}%>> OSC
              </td>
            </tr>

            <tr>
              <td>Broacasting interval:</td>
              <td>
                <input type="text" name="lightInterval" value=<%= rpi.light_interval %>>
                <input type="checkbox" name="lightOnInterval" value="lightOnInterval" <% if (rpi.light_on_interval) {%> checked <%}%>> enabled
              </td>
            </tr>

            <tr>
              <td>Broadcasting on change:</td>
              <td>
                <input type="text" name="lightChangeThreshold" value=<%= rpi.light_change_threshold %>>
                <input type="checkbox" name="lightChange" value="lightChange" <% if (rpi.light_change) {%> checked <%}%>> enabled
              </td>
            </tr>

            <tr>
              <td class="sensor_head">Pedestrian broacasting options:</td>
              <td>
                <input type="checkbox" name="pedestriansMQTT" value="pedestriansMQTT" <% if (rpi.pedestrians_mqtt) {%> checked <%}%>> MQTT
                <input type="checkbox" name="pedestriansOSC" value="pedestriansOSC" <% if (rpi.pedestrians_osc) {%> checked <%}%>> OSC
              </td>
            </tr>

            <tr>
              <td>Broacasting interval:</td>
              <td>
                <input type="text" name="pedestriansInterval" value=<%= rpi.pedestrians_interval %>>
                <input type="checkbox" name="pedestriansOnInterval" value="pedestriansOnInterval" <% if (rpi.pedestrians_on_interval) {%> checked <%}%>> enabled
              </td>
            </tr>

            <tr>
              <td>Broadcasting on change:</td>
              <td>
                <input type="text" name="pedestriansChangeThreshold" value=<%= rpi.pedestrians_change_threshold %>>
                <input type="checkbox" name="pedestriansChange" value="pedestriansChange" <% if (rpi.pedestrians_change) {%> checked <%}%>> enabled
              </td>
            </tr>

            <tr>
              <td></td>
              <td>
                <input type="submit" value="Save">
              </td>
            </tr>

          </table>
        </form>
      </p>

    <% } %>
  </div>
<% }) %>

<script>
  function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";

    localStorage.activeTab = tabName + "Tab";

    location.reload();
  }

  if (localStorage.activeTab) {
    document.getElementById(localStorage.activeTab).click();
  } else {
    localStorage.activeTab = "GlobalTab"
    document.getElementById(localStorage.activeTab).click();
  }
</script>

<script>
  function reloadTimer() {
    setInterval(function(){
      $.post("/", {
        id: -1,
        openTab: localStorage.activeTab
      },
      function(data) {

        var t_div = "#t" + data.id
        $(t_div).html(data.temperature_value + " &#x2103;");

        var p_div = "#p" + data.id
        $(p_div).html(data.pressure_value + " hPa");

        var l_div = "#l" + data.id
        $(l_div).html(data.light_value + " lux");

        var pe_div = "#pe" + data.id
        $(pe_div).html(data.pedestrians_value);

      });
    }, 10000);
  }
</script>
